
                                        /**** BODY ****/
body {
  background-color: whitesmoke;
  margin: 0 auto;
}

#wrapper {
      margin: 0 auto;
      width: 100%;
      text-align: center;
}

main {   
    background-color: whitesmoke;   
    width: 60%;
    float: left;
    margin:1% 0 1% 8%;    
}
                                        /**** NAVIGATION ****/
nav {
    margin: 0 auto;
    padding:2% 0 0 4%;
    width: 100%;
    z-index: 1;
    align-content: center;
}

nav ul {
  text-align: left;
  display: inline;
  margin: 0;
  list-style: none;
  z-index: 1;
}

nav ul li {
  display: inline-block;
  margin-right: .01em;
  position: relative;
  padding: 1% 2%;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

nav li a {
      padding-bottom: 1em;
      text-decoration: none;
      cursor: pointer;
      font-size: 150%;
     
      text-decoration: none;
      font-weight: bold;
      font-family: Consolas, monaco, monospace;
      color: darkseagreen;
      text-shadow: 0 1px 0 #000;
}

nav ul li:hover {
  background-color:gainsboro;
}

nav ul li ul {
  padding: 0;
  position: absolute;
  top: 3.5em;
  left: 0;
  width:100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
nav ul li ul li { 
  background-color: gainsboro; 
  display: block; 
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
nav ul li ul li:hover { 
  background-color: floralwhite;
}

nav ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.mySlides{
    z-index: -1;
}

                                        /**** IMAGES ****/

#lp {
    float: left;
    width: 18%;
}

#rp {
    float: right;
    width: 18%;
}

#logo {
    width: 20%;
   margin-left: 40%;
}

#photo {
    width: 98%;
    margin: 1%;
    float: left;
}

                                        /**** CONTAINERS ****/
.container{
    width:26%;
    background-color: white;
    float:left;
    margin:2% 0 0 0; 
}

.container1{
    width:100%;
    float:left;
    margin:1%;
    background-image: url("images/side1.png");
    background-position: left;    
    background-size:cover;
    background-repeat: no-repeat;
}

.container2{
    width:100%;
    float:left;
    margin: 0 1%;   
    background-image: url("images/side2.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.container3{
    width:100%;   
    float:left;
    margin:1%;   
    background-image: url("images/side3.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}


                                        /**** FOOTER ****/
footer{
    width: 98%;
    font-size: 86%;  
    margin-bottom: 2%;
    float: left;
    clear: both;
}
footer h2{
    font-size: 180%;
    margin-left: 2%;
    
}

.menuf {
    float:left;   
    width: 17%;
    margin:0 0 0 2%;
    line-height: 100%;
    list-style:none;   
    font-variant-caps:petite-caps; 
}

                                        /**** COLUMNS ****/
.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid lightblue; /* Firefox */
    column-rule: 1px solid lightblue;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;   
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
    
                                        /**** SLIDERS ****/
.mySlides {   
    width: 98% !important;
    height:  height: 68% !important;  
    margin: 1%;  
}

                                        /**** CARDS ****/
section {
  padding: 1%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

section img{
    width: 100%;
    
}

.card-container {
  width: 24.5%;
  max-width: 24.5%;
  padding: 1%;
  background-color: #F5F5F7;
    float: left;
}

@media screen and (max-width: 900px) {
  .card-container {
    width: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .card-container {
    width: 100%;
    max-width: 100%;
  }
}
.card-wrapper {
  width: 100%;
  max-width: 100%;
  padding: 2%;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.course-title {
  color: blue;
  font-size: 1.5rem;
  margin: 1%;
}

.course-description {
  margin:.5%;
}

.course-stats-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #78868D;
}

.course-stat {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 20px;
}
.course-stat p {
  margin: 0;
}
.course-stat img {
  height: 0.8rem;
  width: 0.8rem;
}


                                        /**** CARDS ****/
form div {
  display:flex;
  flex-wrap:wrap;
}

form p {
  margin:1em;
  padding:1em;
}

form label {
  color:#999;
  font-family:sans-serif;
}

fieldset {
  margin:2em;
}
    
